name: 'Dependency Review'
on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
    - 'docs/**'

permissions:                                                                         
  contents: read
  pull-requests: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683                    # 4.2.2

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@56339e523c0409420f6c2c9a2f4292bbb3c07dd3    # 4.8.0
        with:
            config-file: './dependency-review-config.yml'
