name: 'Dependency Review'
on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
    - 'docs/**'

permissions:                                                                         
  contents: read
  pull-requests: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683                    # 4.2.2

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261    # 4.8.2
        with:
            config-file: './dependency-review-config.yml'
