name: 'Dependency Review'
on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
    - 'docs/**'

permissions:                                                                         
  contents: read
  pull-requests: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3                    # 6.0.0

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@da24556b548a50705dd671f47852072ea4c105d9    # 4.7.1
        with:
            config-file: './dependency-review-config.yml'
